{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans 'Courses Dr. Rabbani' %} {% endblock %}
{% block meta_description %} {% trans 'Learn more about Cosmetic Dentistry Courses held by Dr. Hossein Rabbani DDS, a renowned cosmetic dentist. Courses cover Composite Veneer Layering Technique.' %} {% endblock %}

{% block content %}
	
    <!-- Hero Section -->
	<section id="hero" class="hero ftco-section">
		<!-- Image for desktops and larger screens -->
		<img src="{% static 'website/images/hero-bg-desktop.jpg' %}" alt="" data-aos="fade-in" class="desktop">
		<!-- Image for mobile and smaller screens -->
		<img src="{% static 'website/images/hero-bg-mobile.png' %}" alt="" data-aos="fade-in" class="mobile">
	
		<div class="container" data-aos="fade-up" data-aos-delay="100">
		  <div class="row align-items-center justify-content-start" style="flex-direction: column;">
			<div class="col-md-12 col-sm-12 ftco-animate">
			  <h2 class="text-center raleway-heading">{% trans "Hands-on Courses" %}</h2>
			</div>
		  </div>
		</div>
	  </section><!-- /Hero Section -->
	

	<section class="ftco-section">
		<div class="container" style="direction: {% trans 'ltr' %};">
			{% for course in courses %}
				{% if course.is_active %}
					<div class="row justify-content-center mt-5">
						<div class="col-md-7 text-center heading-section ftco-animate">
						<h3 class="mb-2">{{ course.title }}</h3>
						</div>
					</div>
					<div class="gallery js-flickity no-gutters" data-flickity-options='{ "wrapAround": true }'>
						{% for image in course.images.all %}

						<div class="gallery-cell">

							<a href="{{ image.image.url }}" class="glightbox" target="_blank"><img class="mobile" src="{{ image.image.url }}" alt="" data-aos="fade-in"></a>
						</div>

						{% endfor %}
					</div>
				{% endif %}
			<div class="row justify-content-center mt-4 mb-5">
				<p class="mb-0">{{ course.text }}</p>
			</div>
			{% endfor %}
			
		</div>
	  </section>
	

    {% endblock %}