{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
 


  <!-- Hero Section -->
  <section id="hero" class="hero ftco-section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-center justify-content-start" style="flex-direction: column;">
        <div class="col-md-12 col-sm-12 ftco-animate">
          <h2 class="text-center raleway-heading"><span class="transparent-text">{% trans "Today" %}</span>{% trans "<br>Is the Day<br>To protect your " %}<span class="transparent-text">{% trans "Smile" %}</span></h2>
        </div>
        <div class="text-center">
          <p><a href="#" class="btn btn-get-started px-4 py-3" data-toggle="modal" data-target="#modalRequest">{% trans "Book" %}</a></p>
          <p><a href="tel:{{dr_phone}}" class="btn btn-outline-light" style="border-color:transparent;">{% trans 'or Call (+98) 903-310-3516' %}</a></p>
        </div>
      </div>
    </div>
  </section><!-- /Hero Section -->



  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container">

      <div class="row justify-content-center mb-5 pb-5 px-sm-4 p-sm-4">
        <div class="col-md-7 text-center  ftco-animate">
          <h2 class="mb-2"></h2>
        </div>
      </div>

      <div class="row gy-4 d-flex justify-content-center align-items-center" style="padding-right: 1rem; padding-left: 1rem;">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img data-src=" {% static 'website/images/about_1.png' %} " class="img-fluid lazy" alt="">
        </div>

        <div class="col-lg-6 order-1 order-lg-1 content mt-4" style="direction: {% trans 'ltr' %};" data-aos="fade-up" data-aos-delay="200">
          <h4>{% trans 'Dr. Hossein Rabbani' %}</h4>
          <p> 
            {% trans 'Dr. Hossein Rabbani Khah is an esteemed cosmetic dentist who graduated from the renowned Jondy Shahpour University of Ahvaz. Driven by a passion for enhancing smiles, he has devoted his career to excelling in cosmetic dentistry, particularly in the area of veneer composites.' %}
          </p>
          <p>
            {% trans 'His expertise in veneer composites ensures that patients achieve the ideal blend of aesthetics and functionality, guaranteeing that every smile is both stunning and healthy. His meticulous attention to detail and dedication to his profession have made him a respected figure in the field of cosmetic dentistry.' %}
          </p>
          <!-- <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
        </div>

      </div>

    </div>

  </section><!-- /About Section -->

  
  <!-- Services Section -->
  <section id="services" class="ftco-section ftco-services services section">

    <div class="container">


    <div class="row justify-content-center mt-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2"><strong>{% trans 'Our Services <br>Your Smile'  %}</strong></h2>
      </div>
    </div>

    

      <div class="row gy-6" style="direction: {% trans 'ltr' %};">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon icon-smile">
              <!-- <i class="icon-smile"></i> -->
            </div>
            <!-- <a href="#" class="stretched-link"> -->
              <h3>{% trans 'Composite & Ceramic' %}</h3>
            <!-- </a> -->
            <p>{% trans 'Composite veneers are quick, affordable resin shells applied to teeth, while ceramic veneers are durable, custom-made ceramic shells for a natural look.' %}</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon icon-white">
              <!-- <i class="icon icon-white"></i> -->
            </div>
            <!-- <a href="#" class="stretched-link"> -->
              <h3>{% trans 'Restorative Dentistry' %}</h3>
            <!-- </a> -->
            <p>{% trans 'Procedures like fillings, crowns, bridges, and dentures to repair and replace teeth.' %}</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon icon-cosmetic">
              <!-- <i class="bi icon-cosmetic"></i> -->
            </div>
            <!-- <a href="#" class="stretched-link"> -->
              <h3>{% trans 'Smile Makeovers' %}</h3>
            <!-- </a> -->
            <p>{% trans 'A comprehensive approach combining cosmetic dentistry procedures to achieve desired smile transformation.' %}</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon icon-veneer">
              <!-- <i class="bi icon-veneer"></i> -->
            </div>
            <!-- <a href="#" class="stretched-link"> -->
              <h3>{% trans 'Teeth Whitening' %}</h3>
            <!-- </a> -->
            <p>{% trans 'A cosmetic procedure that lightens the color of teeth, often using bleaching agents or whitening products.' %}</p>
            <!-- <a href="#" class="stretched-link"></a> -->
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->






  <!-- Sliders Section -->
  <section id="sliders" class="ftco-section ftco-services slider-block">

    <!-- Section Title -->
    <!-- <div class="col-md-7 text-center heading-section ftco-animate"> -->
      <!-- <h2 class="mb-2">{% trans 'Your Smile...' %}</h2> -->
    </div><!-- End Section Title -->
    
    <div class="container pt-sm-4 pb-sm-4 mt-2 mb-2">
      
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-2"><strong>{% trans 'Your Beautiful <br>Smile'  %}</strong></h2>
          <p>{% trans 'Transformative Perfection: Detailed Craftsmanship in Composite Veneers' %}</p>
        </div>
      </div>
      
      <div class="row gy-6">
        
        <div class="col-lg-4 col-md-6 slider-element">
          <div id="slider-container-1" class="media block-6 d-block services slider-container position-relative">
            <div class="image-container">
              <img class="img-before slider-image lazy" data-src="{% static 'website/images/before-after/b1.jpeg' %}" alt="Before">
              <img class="slider-image lazy" data-src="{% static 'website/images/before-after/a1.jpeg' %}" alt="After">
            </div>
            <input 
              id="slider-1"
              type="range"
              min="0"
              max="100"
              value="50"
              aria-label="Percentage of before photo shown"
              class="slider"
            />
            <div class="slider-line" aria-hidden="true"></div>
            <div class="slider-button" aria-hidden="true">
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="32" 
                height="32" 
                fill="#000000" 
                viewBox="0 0 256 256"
              >
                <path d="M136,40V216a8,8,0,0,1-16,0V40a8,8,0,0,1,16,0ZM96,120H35.31l18.35-18.34A8,8,0,0,0,42.34,90.34l-32,32a8,8,0,0,0,0,11.32l32,32a8,8,0,0,0,11.32-11.32L35.31,136H96a8,8,0,0,0,0-16Zm149.66,2.34-32-32a8,8,0,0,0-11.32,11.32L220.69,120H160a8,8,0,0,0,0,16h60.69l-18.35,18.34a8,8,0,0,0,11.32,11.32l32-32A8,8,0,0,0,245.66,122.34Z"></path></svg>
            </div>
            
          </div>
        </div>

        


        <div class="col-lg-4 col-md-6 slider-element">
          <div id="slider-container-2" class="media block-6 d-block services slider-container position-relative">
            <div class="image-container">
              <img class="img-before slider-image lazy" data-src="{% static 'website/images/before-after/b2.jpg' %}" alt="Before">
              <img class="slider-image lazy" data-src="{% static 'website/images/before-after/a2.jpg' %}" alt="After">
            </div>
            <input
              id="slider-2"
              type="range"
              min="0"
              max="100"
              value="50"
              aria-label="Percentage of before photo shown"
              class="slider"
            />
            <div class="slider-line" aria-hidden="true"></div>
            <div class="slider-button" aria-hidden="true">
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="32" 
                height="32" 
                fill="#000000" 
                viewBox="0 0 256 256"
              >
                <path d="M136,40V216a8,8,0,0,1-16,0V40a8,8,0,0,1,16,0ZM96,120H35.31l18.35-18.34A8,8,0,0,0,42.34,90.34l-32,32a8,8,0,0,0,0,11.32l32,32a8,8,0,0,0,11.32-11.32L35.31,136H96a8,8,0,0,0,0-16Zm149.66,2.34-32-32a8,8,0,0,0-11.32,11.32L220.69,120H160a8,8,0,0,0,0,16h60.69l-18.35,18.34a8,8,0,0,0,11.32,11.32l32-32A8,8,0,0,0,245.66,122.34Z"></path></svg>
            </div>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 slider-element mb-5">
          <div id="slider-container-3" class="media block-6 d-block services slider-container position-relative">
            <div class="image-container">
              <img class="img-before slider-image lazy" data-src="{% static 'website/images/before-after/b3.jpg' %}" alt="Before">
              <img class="slider-image lazy" data-src="{% static 'website/images/before-after/a3.jpg' %}" alt="After">
            </div>
            <input
              id="slider-3"
              type="range"
              min="0"
              max="100"
              value="50"
              aria-label="Percentage of before photo shown"
              class="slider"
            />
            <div class="slider-line" aria-hidden="true"></div>
            <div class="slider-button" aria-hidden="true">
              <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="32" 
                height="32" 
                fill="#000000" 
                viewBox="0 0 256 256"
              >
                <path d="M136,40V216a8,8,0,0,1-16,0V40a8,8,0,0,1,16,0ZM96,120H35.31l18.35-18.34A8,8,0,0,0,42.34,90.34l-32,32a8,8,0,0,0,0,11.32l32,32a8,8,0,0,0,11.32-11.32L35.31,136H96a8,8,0,0,0,0-16Zm149.66,2.34-32-32a8,8,0,0,0-11.32,11.32L220.69,120H160a8,8,0,0,0,0,16h60.69l-18.35,18.34a8,8,0,0,0,11.32,11.32l32-32A8,8,0,0,0,245.66,122.34Z"></path></svg>
            </div>
            
          </div>
        </div>


    </div>
  </div>
  </section><!-- /Sliders Section -->




 <!-- Harp Section -->
 <section class="section ftco-services">
	
  <div class="container-wrap mt-5">

    <div class="row d-flex no-gutters justify-content-center mt-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2"><strong>{% trans 'Meet Me at <br>Harp' %}</strong></h2>
        <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> -->
      </div>
    </div>

    <div class="row d-flex no-gutters" style="margin-bottom: 60px;">
      <div class="col-md-6 img" style="background-image: url({% static 'website/images/clinic.jfif' %}); min-height:400px; background-size: cover;"></div>
      <div class="col-md-6 d-flex">
        
        <div class="about-wrap" style="direction: {% trans 'ltr' %};">
          <div class="about-wrap" style="background-color: transparent; border: solid; border-color: #9f8877bd; border-width: 1px; border-radius: .5rem;">
            <div class="mb-5 ftco-animate">
              <h2 class="mb-2" style="color: #fff; font-family: var(--heading-font);"><strong>{% trans 'Harp Clinic' %}</strong></h2>
              <!-- <p>{% trans 'The clinic is located in Jaam-E-Jam complex at east Pahlavan street.' %}</p> -->
            </div>
            <div class="list-services d-flex ftco-animate">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-check2"></span>
              </div>
              <div class="text" style="{% trans 'padding-left:' %} 30px;">
                <h3>{% trans 'Well Experience Dentist' %}</h3>
                <p>{% trans 'Our clinic boasts a team of dentists with extensive experience in delivering top-notch dental care.' %}</p>
              </div>
            </div>
            <div class="list-services d-flex ftco-animate">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-check2"></span>
              </div>
              <div class="text" style="{% trans 'padding-left:' %} 30px;">
                <h3>{% trans 'High Technology Facilities' %}</h3>
                <p>{% trans 'We utilize the latest dental technology to ensure precise diagnoses and effective treatments.' %}</p>
              </div>
            </div>
            <div class="list-services d-flex ftco-animate">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-check2"></span>
              </div>
              <div class="text" style="{% trans 'padding-left:' %} 30px;">
                <h3>{% trans 'Comfortable Clinic' %}</h3>
                <p>{% trans 'Patients enjoy a relaxing atmosphere with comfortable amenities designed to ease dental anxiety.' %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="ftco-section testimony-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-4 pb-3">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-2"><strong>{% trans 'Your Smile<br>Our Solidity'  %}</strong></h2>
          <!-- <p>{% trans 'Radiant Results: Showcasing Complete Smile Transformations' %}</p> -->
        </div>
      </div>
      <div class="row justify-content-center ftco-animate no-gutters">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel ftco-owl">
                <div class="item">
                  <div class="testimony-wrap">
                    <div class="user-img mb-1 lazy-bg" data-bg="{% static 'website/images/gallery/1.jpg' %}"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap">
                    <div class="user-img mb-1 lazy-bg" data-bg="{% static 'website/images/gallery/2.jpeg' %}"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap">
                    <div class="user-img mb-1 lazy-bg" data-bg="{% static 'website/images/gallery/3.jpg' %}"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap">
                    <div class="user-img mb-1 lazy-bg" data-bg="{% static 'website/images/gallery/4.jpg' %}"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap">
                    <div class="user-img mb-1 lazy-bg" data-bg="{% static 'website/images/gallery/5.jpg' %}"></div>
                  </div>
                </div>
          </div>
        </div>
        <a href="{{dr_instagram}}" class="read-more mt-4"><span>{% trans 'More' %}</span><i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </section>






    
  <script src=" {% static 'website/js/slider.js' %} "></script>

{% endblock %}
